alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
autopep8==1.4.4
Babel==2.8.0
bleach==3.1.5
bump2version==0.5.11
certifi==2020.6.20
chardet==3.0.4
Click==7.0
configparser==5.0.0
coverage==4.5.4
cycler==0.10.0
distlib==0.3.1
docutils==0.16
entrypoints==0.3
filelock==3.0.12
flake8==3.7.8
Flask==1.1.2
fplsupercharge==0.1.0
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.0
packaging==20.4
pathtools==0.1.2
pkginfo==1.5.0.1
pluggy==0.13.1
protobuf==3.12.2
py==1.9.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
scipy==1.5.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.2.3
toml==0.10.1
tox==3.14.0
tqdm==4.47.0
twine==1.14.0
uplink==0.9.1
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.0.26
waitress==1.4.4
watchdog==0.9.0
webencodings==0.5.1
Werkzeug==1.0.1
