autopep8==1.5.3
certifi==2020.6.20
chardet==3.0.4
fpl-manage==0.0.1
idna==2.10
protobuf==3.12.2
pycodestyle==2.6.0
requests==2.24.0
six==1.15.0
toml==0.10.1
uplink==0.9.1
uritemplate==3.0.1
urllib3==1.25.9
