pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0
Click==7.0
autopep8==1.4.4
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
numpy==1.19.0
protobuf==3.12.2
pycodestyle<2.6.0,>=2.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
scipy==1.5.1
six==1.15.0
toml==0.10.1
uplink==0.9.1
uritemplate==3.0.1
urllib3==1.25.9
waitress==1.4.4
Werkzeug==1.0.1
